<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472709442599-3ct5sgd17q417ssub6mq1hr34m0dcf1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472709442599-3ct5sgd17q417ssub6mq1hr34m0dcf1e</string>
	<key>API_KEY</key>
	<string>AIzaSyCU8A1E1IKgws12B61Gl1dR-LjgMfIxPg0</string>
	<key>GCM_SENDER_ID</key>
	<string>472709442599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.berryClub</string>
	<key>PROJECT_ID</key>
	<string>berryclub</string>
	<key>STORAGE_BUCKET</key>
	<string>berryclub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472709442599:ios:3c4c6abcc7a57e39c5f202</string>
</dict>
</plist>